<footer class="page-footer blue-grey darken-4" style="height: 45px; margin-top:0; padding-top:0;">
  <!-- <div class="container row">
      <div class="col l8 s12">
        <h5 class="white-text">Perfectly Random Gift Bundles</h5>
        <p class="grey-text text-lighten-4">Gift Bot makes selecting and sending gifts as easy as a click of a button.</p>
    </div>
  </div> -->
  <div class="footer-copyright">
    <div class="container grey-text text-lighten-1">
    © 2016 Copyright Text
    <a class="grey-text text-lighten-1 right" href="/">About Page</a>
    </div>
  </div>
</footer>
