<footer class="footer #263238 blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5 class="white-text">Perfectly Random Gift Bundles</h5>
        <p class="grey-text text-lighten-1">Gift Bot makes selecting and sending gifts as easy as a click of a button.</p>
      </div>
      <div class="col l4 s12">
        <h5 class="grey-text text-lighten-1"></h5>
        <ul>
          <li><a class="grey-text text-lighten-1 right" href="/">About Page</a></li>
          <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li> -->
          <div class="footer-copyright">
            <div class="container text-lighten-1 right">
              <p class="grey-text text-lighten-1 right">© 2016 Copyright</p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
