<header>
  <nav>
    <div class="nav-wrapper light-blue darken-2>
      <a href="/" class="brand-logo"><img alt="Brand" src="../public/images/GR.jpeg"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a href="/profile">Account</a></li>
      </ul>
      <!-- Put up a "hamburger" menu when the web page gets too narrow -->
      <a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
      <!-- These navigation links appear when the web page gets narrow. -->
      <!-- They appear when the user clicks the hamburger menu. -->
      <ul class="side-nav" id="side-menu">
        <li><a href="#">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/profile">Account</a></li>
      </ul>
    </div>
  </nav>
</header>
