<div class="page-header">

    <h3>Checkout</h3>
    <form class="col s11" id="checkoutForm" action="" method="">
    <ul class="collapsible" data-collapsible="expandable">

        <li>
          <%# <div class="collapsible-header left-align orange darken-2 active"><i class="material-icons">account_circle</i>CUSTOMER INFORMATION</div>%>


            <%# <div class="collapsible-body">%>
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" name="name" type="text" class="validate">
                  <label for="icon_prefix">Name</label>
                </div>
                <div class="input-field col s5">
                  <i class="material-icons prefix">phone</i>
                  <input id="icon_telephone" name="phone" type="tel" class="validate" length="10">
                  <label for="icon_telephone">Telephone</label>
                </div>
                <!-- <div class="input-field col s11">
                  <i class="material-icons prefix">home</i>
                  <input id="icon_address" type="text" class="validate">
                  <label for="icon_address">Address</label>
                </div> -->
                <div class="input-field col s11">
                  <i class="material-icons prefix">email</i>
                  <input id="email" name="email" type="email" class="validate">
                  <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
              </div>
              <p style="text-align: center">
                  <a href="#" class="waves-effect waves" type="submit" name="action">Edit</a>
              </p>
          <%# </div>%>
        </li>

        <li>
          <div class="collapsible-header left-align orange darken-2 active"><i class="material-icons">home</i>SHIPPING INFORMATION</div>
          <div class="collapsible-body">
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" name="shipToName" type="text" class="validate">
                  <label for="icon_prefix">Name</label>
                </div>
                <div class="input-field col s5">
                  <i class="material-icons prefix">phone</i>
                  <input id="icon_telephone" name="shipPhone" type="tel" class="validate" length="10">
                  <label for="icon_telephone">Telephone</label>
                </div>
                <div class="input-field col s11">
                  <i class="material-icons prefix">home</i>
                  <input id="icon_address" name="shippingAddress" type="text" class="validate">
                  <label for="icon_address">Address</label>
                </div>
                <div class="input-field col s11">
                  <i class="mdi-editor-mode-edit prefix"></i>
                  <input id="icon_message" name="message" type="text" class="validate" length="140">
                  <label for="icon_message" data-error="wrong" data-success="right">Personal Message</label>
                </div>
              </div>
              <p style="text-align: center">
                  <a href="#" class="waves-effect waves" type="submit" name="action">Edit</a>
              </p>

          </div>
        </li>
        <li>
          <div class="collapsible-header left-align orange darken-2 active"><i class="material-icons">credit_card</i>BILLING INFORMATION</div>
          <div class="collapsible-body">
              <div class="row">
                <div class="input-field col s5">
                  <i class="material-icons prefix">credit_card</i>
                  <input id="icon_prefix" name="number" type="text" class="validate" length="10">
                  <label for="icon_prefix">Card Number</label>
                </div>
                <div class="input-field col s4">
                  <i class="material-icons prefix">date</i>
                  <input id="icon_exp" name="expDate" type="tel" class="validate">
                  <label for="icon_exp">Expiration</label>
                </div>
                <div class="input-field col s2">
                  <i class="material-icons prefix">cvv</i>
                  <input id="icon_telephone" name="cvv" type="tel" class="validate">
                  <label for="icon_telephone">CVV</label>
                </div>
                <div class="input-field col s11">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" name="creditName" type="text" class="validate">
                  <label for="icon_prefix">Name</label>
                </div>
                <div class="input-field col s11">
                  <i class="material-icons prefix">home</i>
                  <input id="icon_address" name="address" type="tel" class="validate">
                  <label for="icon_address">Address</label>
                </div>
              </div>
              <p style="text-align: center">
                  <a href="#" class="waves-effect waves" type="submit" name="action">Edit</a>
              </p>

          </div>
        </li>
        <li>
          <div class="collapsible-header left-align orange darken-2 active"><i class="mdi-action-shopping-cart"></i>ITEMS TO PURCHASE</div>
          <div class="collapsible-body">
              <div class="row">
                  <br>
                  <div class="col s12">Total Price: <span id="totPrice" style="font-weight: bold"></span></div>
                  <br>
                  <div class="col s3">Item number: <span id="p0" style="font-weight: bold">order.product1</span></div>
                  <div class="col s3">Item number: <span id="p1" style="font-weight: bold">order.product2</span></div>
                  <div class="col s3">Item number: <span id="p2" style="font-weight: bold">order.product3</span></div>
                  <div class="col s3">Item number: <span id="p3" style="font-weight: bold">order.product4</span></div>

              </div>
          </div>
          <p style="text-align: center">
              <a href="/gifts" class="btn btn-flat white">Cancel</a>&nbsp;
              <button id="confirmBtn" class="waves-effect waves-light btn" type="submit" name="action">Submit
                <i class ="material-icons right">send</i>
              </button>
              <%# <input id="confirmBtn" value="CONFIRM PURCHASE" class="waves-effect waves-light btn" type="submit" name="action">%>
          </p>

        </li>

    </ul>
    </form>
</div>

<script type="text/javascript">

  //console.log("this is session storage", sessionStorage.getItem('product1'));
  for (var i = 0; i < 4; i++) {
    $('#p'+i).text(sessionStorage.getItem('product'+i))
  }

  $('#totPrice').text('$'+sessionStorage.getItem('savedTotalPrice'))
  var $confirm = $('#confirmBtn')
  var $checkoutForm = $('#checkoutForm')

  $checkoutForm.submit(function(evt) {
    evt.preventDefault()
    for (var i = 0; i < 4; i++) {
      sessionStorage.removeItem('product'+i);
      sessionStorage.removeItem('image'+i);
    }
    sessionStorage.removeItem('savedTotalPrice');

    //var data_array = $checkoutForm.serialize();
    var order = {}
    $('#checkoutForm input').each(function(i, el){
      order[$(el).attr('name')] = $(el).val()
    })

    console.log(order);
    // var checkoutInfo = []
    // checkoutInfo[0] =
    // var order = {
    //   shippingAddress: variable,
    //   shipToName: variable,
    //   shipPhone: variable,
    //   message: variable
    // }
    $.ajax({
      // url: "/orders/"+ order._id, // need a way to find this
      // method: 'PUT',
      // data: order
    }).done(function() {
      // flash message here.
      //window.location = '/gifts'
    })
  })

</script>
