<style>
.progress{
  background-color: #ffcc80
}
h1{
  font-family: 'Candal', sans-serif;
}
h5{
  font-family: 'Martel Sans', sans-serif;
}
</style>


<h1 class="text-center">Start Gift Bot</h1>
<h5>Find the perfectly random gift bundle</h5>

<!-- load bar -->
<div style="height:20px">
    <div class="progress">
          <div class="indeterminate orange darken-1"></div>
    </div>
</div>

<div class="row" style="height:350px">




  <div class="col s12 m6 l3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-1" src="https://gemplerscoupons.files.wordpress.com/2015/05/mystery-gift.jpg" alt="" height="200" width="200" />
        <p id="name-1"></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-2" src="https://gemplerscoupons.files.wordpress.com/2015/05/mystery-gift.jpg" alt="" height="200" width="200" />
        <p id="name-2"></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-3" src="https://gemplerscoupons.files.wordpress.com/2015/05/mystery-gift.jpg" alt="" height="200" width="200" />
        <p id="name-3"></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-4" src="https://gemplerscoupons.files.wordpress.com/2015/05/mystery-gift.jpg" alt="" height="200" width="200" />
        <p id="name-4"></p>
      </div>
    </div>
  </div>
</div>

<div class="row center-align">
  <h5>BUNDLE PRICE</h5>
  <h3 id="total-price">$50</h3>
<!-- </div>

<div class="row center-align"> -->

  <div>
    <button id="spin" type="button" class="btn  orange darken-1">SPIN!</button>
  </div>
  <br>

  <div>
    <button id="checkout" type="button" class="btn  red accent-4">Checkout</button>
  </div>

</div>



<script type="text/javascript">

  var productIDs = []

  $( ".progress" ).hide(); //hide load bar
  $( "#checkout" ).hide(); //hide checkout button

  var $spin = $('#spin')
         $spin.on('click',function() {
         $( ".progress" ).show(); //show load bar
         $( "#checkout" ).show(); //show checkout button

      $.ajax({
        url: "/api",
        method: 'GET'
      }).done(function(data) {
          $( ".progress" ).hide(); //hide load bar
          var totalPrice = 0 //add price of all products
          for (var i = 1; i < 5; i++) {
            $('#box-'+i).attr('src', data[i-1].mediumImage);
            $('#name-'+i).text(data[i-1].name);
            totalPrice += data[i-1].salePrice
            console.log(data[i-1]);
            productIDs[i-1] = data[i-1].itemId
          }
          $('#total-price').text('$'+(Math.ceil(totalPrice-15)))
      });
    })

  var $checkout = $('#checkout')
    $checkout.on('click',function() {

      $.ajax({
        url: "/orders", // how do I get the id?
        method: 'POST',
        body: productIDs // does this array work as body, is it the same as req.body???
      }).done(function(data) {
        // modal for checkout that pulls from the database and makes a new API req.
      });

    })

</script>
