<style>
.progress{
  background-color: #ffcc80
}
h1{
  font-family: 'Candal', sans-serif;
}
</style>


<h1 class="text-center">Start Gift Bot</h1>

<div class="row" style="height:350px">

<!-- load bar -->
<div class="progress">
      <div class="indeterminate orange darken-1"></div>
</div>

  <div class="col s12 m6 l3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-1" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
        <p id="name-1"></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-2" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
        <p id="name-2"></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-3" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
        <p id="name-3"></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-4" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
        <p id="name-4"></p>
      </div>
    </div>
  </div>
</div>

<div class="row center-align">
  <h5>BUNDLE PRICE</h5>
  <h3 id="total-price">$50</h3>
<!-- </div>

<div class="row center-align"> -->

  <div>
    <button id="spin" type="button" class="btn  orange darken-1">SPIN!</button>
  </div>
  <br>

  <div>
    <button id="checkout" type="button" class="btn  red accent-4">Checkout</button>
  </div>

</div>



<script type="text/javascript">
<<<<<<< HEAD
  var productIDs = []
||||||| merged common ancestors

=======
    $( ".progress" ).hide(); //hide load bar
      $( "#checkout" ).hide(); //hide checkout button

>>>>>>> 961b4c48843910631a1424012726de60e9198a68
  var $spin = $('#spin')
    $spin.on('click',function() {
         $( ".progress" ).show(); //show load bar
           $( "#checkout" ).show(); //show checkout button

      $.ajax({
        url: "/api",
        method: 'GET'
      }).done(function(data) {
          $( ".progress" ).hide(); //hide load bar
          var totalPrice = 0
          for (var i = 1; i < 5; i++) {
            $('#box-'+i).attr('src', data[i-1].mediumImage);
            $('#name-'+i).text(data[i-1].name);
            totalPrice += data[i-1].salePrice
            console.log(data[i-1]);
            productIDs[i-1] = data[i-1].itemId
          }
          $('#total-price').text('$'+(Math.ceil(totalPrice-15)))
      });
    })

  var $checkout = $('#checkout')
    $checkout.on('click',function() {

      $.ajax({
        url: "/orders", // how do I get the id?
        method: 'POST',
        body: productIDs // does this array work as body, is it the same as req.body???
      }).done(function(data) {
        // modal for checkout that pulls from the database and makes a new API req.
      });

    })

</script>
