<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta charset="utf-8">
	<title>Gift Bot</title>
	<link href='https://fonts.googleapis.com/css?family=Monoton|Candal|Martel+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
<body>
	<% include ./partials/nav %>
	<div class="container" style="text-align: center">
		<%- body %>
	</div>
	<% include ./partials/footer %>

	<script type="text/javascript">
		var user = <%-JSON.stringify(user)%>

		$(".button-collapse").sideNav();
		$('.modal-trigger').leanModal();

	</script>


</body>
</html>
