<h1 class="text-center">Hello this is Roulette view</h1>

<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-1" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-2" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-3" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img id="box-4" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="row">

    <div class="text-center">
      <button id="spin" type="button" class="btn btn-primary"><h2>SPIN!</h2></button>
    </div>

    <div class="text-center">
      <button id="checkout" type="button" class="btn btn-warning">Checkout</button>
    </div>

  </div>

</div>

<script type="text/javascript">

var $spin = $('#spin')
  $spin.on('click',function() {

    $.ajax({
      url: "/api",
      method: 'GET'
    }).done(function(data) {
        $('#box-1').attr('src', data.imageResult.mediumImage);
        console.log(data);
    });
    $.ajax({
      url: "/api",
      method: 'GET'
    }).done(function(data) {
        $('#box-2').attr('src', data.imageResult.mediumImage);
        console.log(data);
    });
    $.ajax({
      url: "/api",
      method: 'GET'
    }).done(function(data) {
        $('#box-3').attr('src', data.imageResult.mediumImage);
        console.log(data);
    });
    $.ajax({
      url: "/api",
      method: 'GET'
    }).done(function(data) {
        $('#box-4').attr('src', data.imageResult.mediumImage);
        console.log(data);
    });

  })

</script>
