<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  <link href='https://fonts.googleapis.com/css?family=Monoton|Candal|Martel+Sans' rel='stylesheet' type='text/css'>

    <style>


    .bot{
      width: 300px;
      margin-right: 50px;
      /*background-color: blue;*/
    }

    .container
    {
      /*background-color: red;*/
    }

    .row{
      /*background-color: #bdbdbd;*/
    }

    .orange-box{
      margin-top: 175px;
      height: 75px;
      width: 200px;
    }

    .start-mach{
      font-family: 'Candal', sans-serif;
      font-size: 25px;
      margin-top: 137px;
      margin-left: 25px;
      position: absolute;
    }

    .grey-box{
      background-color: #fff;
      opacity: 0.5;
      width: 200px;
      height: 200px;
      margin-top: 65px;
      font-size: 25px;
      font-family: 'Martel Sans', sans-serif;
      color: black;

    }


    </style>
  </head>
  <body>
        <div class="row">
                   <div class= "col m4">
                       <div class = "start-mach">Click to Start!</div>
                               <img class="orange-box" src="../public/images/logo/logo-orange-box.jpg" alt="" />
                             </div>
                          <div class="col m4">
                      <img class="bot" src="../public/images/brand_bot_tall.png" alt="" />
                    </div>
                <div class ="grey-box col m4" >
            Gift Bot's patented algorythms randomize a gift bundle of 4 gifts.<hr>
              Run the autobot now to see what you can send your friends and family.
          </div>
     </div>
     
  </body>
</html>
